#nomHaut
{
    width: 100%;
    height: 20vh;
    background-color: #262248;
    padding-top: 0.2vh;
    padding-bottom: 2vh;
}

h1
{
    color: white;
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
}

h2
{
    color: white;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
}

nav
{
    width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    background-color: #e78538;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
    color: white;
    font-weight: bold;
    font-size: 2.2vh;
    margin-top: 1vh;
}

.menu
{
    color: #262248;
}

.menu:hover
{
    cursor: pointer;
}

#containerAccueil
{
    width: 100%;
    height: 60vh;
    display: flex;
    margin-top: 1vh;
    background: url("photoFond.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#photo
{
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    margin-top: 10vh;
    margin-left: 30vh;

    background-size : cover;
    scale: 1;
    background-image : url("moi2.jpg");
    display : inline-block;
    border: 1vh double #262248;
    
}

#divBienvenue
{
    width: 60vh;
    height: 20vh;
    display: flex;
    text-align: center;
    margin-left: 35vh;
    margin-top: 20vh;
    background-color: rgba(255,255,255,0.7);
}

#bienvenue 
{
    font-size: 5vh;
    color: #262248;
     line-height: 6vh;
}

.titrePartie
{
    width: 100%;
    height: 12vh;
    background-color: #262248;
    position: relative;
    color: white;
    text-align: center;
    margin-top: 1vh;
    font-size: 4vh;
    font-weight: bold;
    line-height: 12vh;
    margin-bottom: 1vh;
}

#containerProfil
{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4vh;
    margin-bottom: 6vh;
}



#presentationGaucheProfil
{
    width: 20%;
    height: 15vh;
    text-align: center;
    border-right: 1vh solid #e78538;
    line-height: 15vh;
    color: #262248;
    font-size: 4vh;
    font-weight: bold;
}

#presentationDroiteProfil
{
    width: 70%;
    height: 15vh;
    font-size: 2.5vh;
    color: #262248;
    text-align: center;
    line-height: 4vh;
}


#containerCompetences
{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 6vh;
}

#presentationGaucheCompetences
{
    width: 20%;
    height: 20vh;
    border-right: 1vh solid #e78538;
    line-height: 20vh;
    text-align: center;
    color: #262248;
    font-size: 4vh;
    font-weight: bold;
}

#container
{
    width: 70%;
    height: 20vh;
    font-size: 2.5vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#presentationDroiteCompetences
{
    width: 100%;
    height: 8vh;
    font-size: 2.5vh;
    color: #262248;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 8vh;
}

#presentationDroiteCompetences1
{
    width: 60%;
    height: 10vh;
    font-size: 2.5vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    line-height: 8vh;
}

#containerFormations
{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4vh;
    margin-bottom: 6vh;
}

#presentationGaucheFormations
{
    width: 20%;
    height: 45vh;
    border-right: 1vh solid #e78538;
    line-height: 40vh;
    text-align: center;
    color: #262248;
    font-size: 4vh;
    font-weight: bold;
}

#containerDates
{
    width: 15%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2.5vh;
  
}

.date
{
    width: 100%;
    height: 10vh;
    color: #262248;
    text-align: center;
    font-size: 3vh;
    font-weight: bolder;
    line-height: 10vh;
    text-decoration: underline;
}

#containerEcoles
{
    width: 50%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2.5vh;
}

.formations
{
    width: 100%;
    height: 10vh;
    line-height: 5vh;
    font-size: 2.5vh;
    color: #262248;
}

#containerExperiences
{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4vh;
    margin-bottom: 6vh;
}

#presentationGaucheExperiences
{
    width: 20%;
    height: 30vh;
    text-align: center;
    border-right: 1vh solid #e78538;
    color: #262248;
    font-size: 4vh;
    font-weight: bold;
    padding-top: 20vh;
}

#containerDroitExperiences
{
    width: 70%;
    height: 50vh;
    font-size: 2.5vh;
    color: #262248;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience
{
    width: 48%;
    height: 45vh;
    background-color: rgba(240, 128, 0, 0.3);
    font-size: 3vh;
    padding-top: 4vh;
    text-align: center;
    border: 3px dashed #e78538;
}

.orange 
{
    color: #e78538;
    font-weight: bold;
}

#BTS
{
    width: 100%;
    height: 10vh;
    text-align: center;
    color: #262248;
    font-size: 4vh;
    font-weight: bold;
    line-height: 8vh;
    text-decoration: underline;
    margin-bottom: 2vh;
}

#creationBTS
{
    width: 100%;
    height: 220vh;
    background-color: rgba(240, 128, 0, 0.3);
    padding-top: 2vh;
    margin-bottom: 3vh;
}

#logos
{
    width: 100%;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2vh;
}

.logo1
{
    width: 34%;
    height: 50vh;
}

#logo2
{
    width: 25%;
    height: 50vh;
}

img
{
    
    
}

#affiche
{
    width: 95%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3vh;
}

.affiche1
{
    width: 29%;
    height: 80vh;
    text-align: center;
}

#affiche2
{
    width: 70%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3vh;
}

.affiche3
{
    width: 40%;
    height: 80vh;
    text-align: center;
}

#lp, #SDIS
{
    width: 100%;
    height: 17vh;
    text-align: center;
    color: #262248;
    font-size: 4vh;
    font-weight: bold;
    line-height: 8vh;
    text-decoration: underline;
    margin-bottom: 2vh;
}

#creationLP
{
    width: 100%;
    height: 162vh;
    background-color: rgba(240, 128, 0, 0.3);
    padding-top: 4vh;
    margin-bottom: 3vh;
}

#biogie
{
    width: 100%;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2vh;
}

.containerLogo
{
    width: 30%;
    height: 50vh;
}

#logoBg
{
    width: 35%;
    height: 50vh;
}

#carte
{
    width: 80%;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

#creationsSDIS
{
    width: 100%;
    height: 250vh;
    background-color: rgba(240, 128, 0, 0.3);
    padding-top: 4vh;
    margin-bottom: 3vh;
}

.containerSDIS
{
    width: 100%;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2vh;
}

.containerPrevention
{
    width: 30%;
    height: 50vh;
}

.containerPrevention2
{
    width: 45%;
    height: 50vh;
}


#banderole
{
    width: 100%;
    height: 62vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banderole1
{
    width: 57%;
    height: 30vh;
    margin-bottom: 2vh;   
}

#contact
{
    width: 50%;
    height: 40vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
}

#tel, #mail
{
    width: 80%;
    height: 8vh;
    text-align: center;
    font-size: 3vh;
    color: #262248;
}

#reseaux
{
    width: 60%;
    height: 8vh;
    text-align: center;
    font-size: 3vh;
    color: #262248;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reseau1
{
    width: 30%;
    height: 8vh;
}

.logoPresentation
{
    width: 192px;
    height: 192px;
}
